*{
	margin: 0;
	padding: 0;
}
ul li{
	list-style-type: none;
}
html body{
	width: 100%;
	height: 100vh;
}
.beijing{
	width: 100%;
	height: 100%;
	background-color: #c1cbd7;
	position: relative;
}
.yuanpan{
	width: 300px;
	height: 300px;
	background-color: white;
	border: 20px white solid;
	border-radius: 50%;
	position: absolute;
	top: calc(50% - 160px);
	left: calc(50% - 160px);
	box-shadow: inset 0 0 20px 30px rgba(52,73,94,0.1) ,
				0 8px 15px 4px rgba(52,73,94,0.3),
				0 0 2px 0 rgba(236,240,241,1.0);  
}
.clock{
	width: 292px;
	height: 292px;
	border-radius: 50%;
/* 	background-color: red; */
	position: absolute;
	top: calc(50% - 146px);
	left: calc(50% - 146px);
	position: relative;
}
.clock::before{
	content: "";
	width: 26px;
	height: 26px;
	background-color: #596275;
	border-radius: 50%;
	position: absolute;
	top: calc(50% - 13px);
	left: calc(50% - 13px);
}
.scale li{
	width: 6px;
	height: 8px;
	background-color: #596275;
	position: absolute;
	/* top: 8px; */
	left: calc(50% - 2px);
	transform-origin:center 146px;
}
.scale li:nth-child(1){
	transform: rotate(30deg);
}
.scale li:nth-child(2){
	transform: rotate(60deg);
}
.scale li:nth-child(3){
	transform: rotate(120deg);
}
.scale li:nth-child(4){
	transform: rotate(150deg);
}
.scale li:nth-child(5){
	transform: rotate(210deg);
}
.scale li:nth-child(6){
	transform: rotate(240deg);
}
.scale li:nth-child(7){
	transform: rotate(300deg);
}
.scale li:nth-child(8){
	transform: rotate(330deg);
}

.point li{
	width: 26px;
	height: 25px;
	top: 0;
	font-size: 22px;
	color: #596275;
	font-weight: bold;
	left: calc(50% - 13px);
	transform-origin:center 146px;
	position: absolute;
	text-align: center;
}
.point li p{
	margin-top: -2px;
}
.point li:nth-child(1){
	top: 0;
	left:calc(50% - 12px);
}
.point li:nth-child(2){
	left:268px;
	top: calc(50% - 12px);
}
.point li:nth-child(3){
	top: 268px;
	left:calc(50% - 12px);
}
.point li:nth-child(4){
	left:0px;
	top: calc(50% - 12px);
}
.hh{
	width: 14px;
	height: 75px;
	background-color:#303952;
	position: absolute;
	top:53px;
	left: calc(50% - 7px);
	border-radius: 15px 15px 0 0;
	transform-origin: center 93px;
/* 	transform: rotate(45deg); */
}
.mm{
	width: 10px;
	height: 83px;
	background-color:rgba(0,0,0,0.6);
	position: absolute;
	top:45px;
	left: calc(50% - 5px);
	border-radius: 15px 15px 0 0;
	transform-origin: center 101px;
/* 	transform: rotate(45deg); */
}
.ss{
	width: 6px;
	height: 100px;
	background-color:rgba(255,0,0,1);
	position: absolute;
	top:28px;
	left: calc(50% - 3px);
	border-radius: 15px 15px 0 0;
	transform-origin: center 118px;
/* 	transform: rotate(45deg); */
}